Repository UbiquitousLearning/mllm, changes with the owners that CODEOWNERS names for each.
All owners: @chenghuaWang, @oreomaker, @yirongjie, @liang1232018, @xumengwei

fix(cpu): adjust memory alignment for different CPU architectures
  mllm/backends/cpu/CPUAllocator.cpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

refactor(cpu): remove x86-specific memory operations and simplify allocation
  mllm/backends/cpu/CPUAllocator.cpp
  mllm/backends/cpu/kernels/kernels.hpp
  mllm/backends/cpu/kernels/x86/mem.cpp
  mllm/backends/cpu/kernels/x86/mem.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(core): implement FillOp and optimize CPU allocation
  mllm/backends/cpu/CPUAllocator.cpp
  mllm/backends/cpu/CPUBackend.cpp
  mllm/backends/cpu/kernels/Kernels.hpp
  mllm/backends/cpu/kernels/arm/fill.cpp
  mllm/backends/cpu/kernels/arm/fill.hpp
  mllm/backends/cpu/kernels/x86/fill.cpp
  mllm/backends/cpu/kernels/x86/fill.hpp
  mllm/backends/cpu/kernels/x86/simd.hpp
  mllm/backends/cpu/ops/FillOp.cpp
  mllm/backends/cpu/ops/FillOp.hpp
  mllm/core/BaseOp.hpp
  mllm/core/Tensor.cpp
  mllm/core/Tensor.hpp
  mllm/core/TensorViewImpl.hpp
  mllm/core/aops/FillOp.cpp
  mllm/core/aops/FillOp.hpp
  mllm/engine/Context.cpp
  mllm/engine/Context.hpp
  mllm/mllm.inl
  mllm/utils/PlatformRTHelper.hpp
  tests/utils/PrintTest.cpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(compile): implement core IR node classes and utilities
  mllm/compile/PassManager.cpp
  mllm/compile/PassManager.hpp
  mllm/compile/ir/GeneratedRTTIKind.hpp
  mllm/compile/ir/IRPrinter.hpp
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/ir/NodeRTTIClassOfImpl.hpp
  mllm/compile/ir/builtin/Attribute.cpp
  mllm/compile/ir/builtin/Attribute.hpp
  mllm/compile/ir/builtin/Interface.cpp
  mllm/compile/ir/builtin/Interface.hpp
  mllm/compile/ir/builtin/Op.cpp
  mllm/compile/ir/builtin/Op.hpp
  mllm/compile/ir/rtti_kind_gen.py
  mllm/compile/ir/tensor/Value.cpp
  mllm/compile/ir/tensor/Value.hpp
  mllm/mllm.hpp
  tools/mllm_ir_gen/gen.py
Owners: @chenghuaWang

feat(compile): add graph IR and update related components
  mllm/compile/ir/GeneratedRTTIKind.hpp
  mllm/compile/ir/IRPrinter.hpp
  mllm/compile/ir/IRTraceDispatcher.cpp
  mllm/compile/ir/IRTraceDispatcher.hpp
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/ir/NodeRTTIClassOfImpl.hpp
  mllm/compile/ir/builtin/Interface.hpp
  mllm/compile/ir/cf/Op.cpp
  mllm/compile/ir/cf/Op.hpp
  mllm/compile/ir/graph/Op.cpp
  mllm/compile/ir/graph/Op.hpp
  mllm/compile/ir/linalg/Op.cpp
  mllm/compile/ir/linalg/Op.hpp
  mllm/compile/ir/rtti_kind_gen.py
  mllm/compile/ir/tensor/Op.cpp
  mllm/compile/ir/tensor/Op.hpp
  mllm/compile/ir/tensor/Value.cpp
  mllm/compile/ir/tensor/Value.hpp
  mllm/core/OpTypes.hpp
  mllm/core/aops/GraphOps.cpp
  mllm/core/aops/GraphOps.hpp
  mllm/engine/Dispatcher.hpp
Owners: @chenghuaWang

feat(compile): add pass manager and pass infrastructure
  mllm/backends/cpu/kernels/arm/linear/kai.cpp
  mllm/backends/cpu/kernels/arm/linear/kai.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/bits_pack.hpp
  mllm/compile/PassManager.hpp
  mllm/compile/ir/Node.hpp
  mllm/compile/passes/Pass.cpp
  mllm/compile/passes/Pass.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(cpu): add ARM backend kernels for linear operations
  mllm/backends/cpu/kernels/arm/linear/mkernel/bits_pack.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u1.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u2.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u3.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u4.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u5.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u6.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/u7.hpp
  mllm/backends/cpu/kernels/arm/linear/mkernel/ux.hpp
  mllm/backends/cpu/kernels/arm/macro.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

refactor(compile): update RegisterOp class and construction
  mllm/compile/ir/tensor/Op.cpp
  mllm/compile/ir/tensor/Op.hpp
Owners: @chenghuaWang

feat(compile): add IR trace functionality for FooNet
  mllm/backends/cpu/CPUBackend.cpp
  mllm/backends/cpu/ops/GraphOps.cpp
  mllm/backends/cpu/ops/GraphOps.hpp
  mllm/compile/ir/IRPrinter.hpp
  mllm/compile/ir/IRTraceDispatcher.cpp
  mllm/compile/ir/IRTraceDispatcher.hpp
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/ir/Trace.cpp
  mllm/compile/ir/Trace.hpp
  mllm/compile/ir/builtin/Attribute.cpp
  mllm/compile/ir/builtin/Attribute.hpp
  mllm/compile/ir/graph/Op.cpp
  mllm/compile/ir/graph/Op.hpp
  mllm/compile/ir/tensor/Op.cpp
  mllm/compile/ir/tensor/Value.cpp
  mllm/core/Tensor.cpp
  mllm/core/aops/GraphOps.cpp
  mllm/core/aops/LinearOp.cpp
  mllm/engine/Context.cpp
  mllm/engine/Dispatcher.cpp
  mllm/engine/Dispatcher.hpp
  mllm/engine/DispatcherManager.cpp
  mllm/engine/DispatcherManager.hpp
  mllm/engine/SessionTCB.hpp
  mllm/mllm.hpp
  mllm/mllm.inl
  mllm/nn/Layer.hpp
  mllm/nn/Module.cpp
  mllm/nn/Module.hpp
  tests/compile/CMakeLists.txt
  tests/compile/ir/CMakeLists.txt
  tests/compile/ir/TraceFooNetTest.cpp
  tests/compile/ir/TraceFooNetTest.mir
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(x86 backend): implement arange and random fill operations for x86 backend
  mllm/backends/cpu/kernels/x86/fill.cpp
  mllm/backends/cpu/kernels/x86/fill.hpp
  mllm/backends/cpu/ops/FillOp.cpp
  mllm/core/Tensor.cpp
  mllm/core/aops/FillOp.hpp
  mllm/engine/Context.cpp
  mllm/engine/Context.hpp
  mllm/mllm.cpp
  mllm/mllm.hpp
  mllm/nn/Module.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(preprocessor): add Image class for visual data preprocessing
  mllm/preprocessor/visual/Image.cpp
  mllm/preprocessor/visual/Image.hpp
Owners: none

feat(preprocessor): add tokenizers for multilingual support
  mllm/preprocessor/tokenizers/AutoTokenizer.cpp
  mllm/preprocessor/tokenizers/AutoTokenizer.hpp
  mllm/preprocessor/tokenizers/BPE.cpp
  mllm/preprocessor/tokenizers/BPE.hpp
  mllm/preprocessor/tokenizers/Unicode.cpp
  mllm/preprocessor/tokenizers/Unicode.hpp
Owners: none

feat(compile): implement program IR op and fragment op
  mllm/backends/cpu/CMakeLists.txt
  mllm/backends/cpu/kernels/arm/gelu.cpp
  mllm/backends/cpu/kernels/arm/gelu.hpp
  mllm/backends/cpu/kernels/arm/math.hpp
  mllm/compile/ir/GeneratedRTTIKind.hpp
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/ir/NodeRTTIClassOfImpl.hpp
  mllm/compile/ir/program/Op.cpp
  mllm/compile/ir/program/Op.hpp
  mllm/compile/ir/rtti_kind_gen.py
  mllm/compile/jit/JITRunner.cpp
  mllm/compile/jit/JITRunner.hpp
  mllm/compile/passes/ProgramLoweringPipeline.cpp
  mllm/compile/passes/ProgramLoweringPipeline.hpp
  mllm/core/BaseOp.cpp
  mllm/core/BaseOp.hpp
  mllm/core/OpTypes.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(compile): implement program lowering pipeline
  mllm/compile/PassManager.cpp
  mllm/compile/ir/GeneratedRTTIKind.hpp
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/ir/NodeRTTIClassOfImpl.hpp
  mllm/compile/ir/program/Op.cpp
  mllm/compile/ir/program/Op.hpp
  mllm/compile/ir/rtti_kind_gen.py
  mllm/compile/jit/JITRunner.hpp
  mllm/compile/passes/Pass.cpp
  mllm/compile/passes/Pass.hpp
  mllm/compile/passes/Pattern.cpp
  mllm/compile/passes/Pattern.hpp
  mllm/compile/passes/ProgramLoweringPipeline.cpp
  mllm/compile/passes/ProgramLoweringPipeline.hpp
  tests/compile/ir/CMakeLists.txt
  tests/compile/ir/ProgramLoweringTest.cpp
Owners: @chenghuaWang

feat(compile): implement program lowering pipeline
  mllm/backends/cpu/kernels/arm/linear/mkernel/README.md
  mllm/compile/ir/Node.cpp
  mllm/compile/ir/Node.hpp
  mllm/compile/passes/ProgramLoweringPipeline.cpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

feat(engine): add performance profiling and visualization support
  mllm/engine/Context.cpp
  mllm/engine/Context.hpp
  mllm/engine/DispatcherManager.cpp
  mllm/engine/MemoryManager.cpp
  mllm/mllm.cpp
  mllm/mllm.hpp
  mllm/nn/AbstractNnNode.cpp
  mllm/nn/AbstractNnNode.hpp
  tests/CMakeLists.txt
  tests/engine/CMakeLists.txt
  tests/engine/PerfMemTest.cpp
  tools/mllm-perf-viewer/README.md
  tools/mllm-perf-viewer/main.py
  tools/mllm-perf-viewer/perf.json
  tools/mllm-perf-viewer/requirements.txt
Owners: none

feat(cpu arm backend): add apple silicon support
  .devcontainer/arm/devcontainer.json
  .devcontainer/qnn/devcontainer.json
  .vscode/extensions.json
  .vscode/settings_recommended.json
  CMakeLists.txt
  README.md
  mllm/backends/cpu/CMakeLists.txt
  requirements-mini.txt
  tasks/build_osx_apple_silicon.yaml
Owners: @chenghuaWang, @yirongjie, @oreomaker

feat(cpu): add ARM backend fill kernel support
  mllm/backends/cpu/kernels/arm/fill.cpp
  mllm/backends/cpu/kernels/arm/fill.hpp
  mllm/backends/cpu/kernels/x86/fill.cpp
  mllm/backends/cpu/kernels/x86/fill.hpp
  tasks/build_osx_apple_silicon.yaml
  tests/compile/ir/ProgramLoweringTest.cpp
  tests/compile/ir/TraceFooNetTest.cpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

docs(README): add features, usage examples, and installation instructions
  README.md
Owners: none

feat(cpu): add support for element-wise operations
  mllm/backends/cpu/CPUBackend.cpp
  mllm/backends/cpu/kernels/Kernels.hpp
  mllm/backends/cpu/kernels/arm/elementwise.cpp
  mllm/backends/cpu/kernels/arm/elementwise.hpp
  mllm/backends/cpu/kernels/arm/fill.cpp
  mllm/backends/cpu/kernels/arm/fill.hpp
  mllm/backends/cpu/kernels/arm/gelu.cpp
  mllm/backends/cpu/kernels/arm/gelu.hpp
  mllm/backends/cpu/ops/ElewiseOps.cpp
  mllm/backends/cpu/ops/ElewiseOps.hpp
  mllm/core/Tensor.cpp
  mllm/core/aops/ElewiseOps.cpp
  mllm/core/aops/ElewiseOps.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

refactor(arm): remove unused code and add CPU architecture checks
  mllm/backends/cpu/kernels/arm/elementwise.hpp
  mllm/backends/cpu/kernels/arm/gelu.cpp
  mllm/backends/cpu/kernels/arm/gelu.hpp
  mllm/backends/cpu/kernels/arm/primitives.hpp
  mllm/backends/cpu/kernels/arm/reduce.cpp
  mllm/backends/cpu/kernels/arm/reduce.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

chore(mllm): add kleidiai submodule for CPU backend
  .gitmodules
Owners: none

feat(core): implement tensor operations and add functional API
  mllm/core/Tensor.cpp
  mllm/core/aops/ContiguousOp.cpp
  mllm/core/aops/ContiguousOp.hpp
  mllm/nn/Functional.cpp
  mllm/nn/Functional.hpp
Owners: none

feat(cpu): add implementation for CastType, Concat, Contiguous and Clone operations
  mllm/backends/cpu/CPUBackend.cpp
  mllm/backends/cpu/kernels/Kernels.hpp
  mllm/backends/cpu/kernels/arm/cast_types.cpp
  mllm/backends/cpu/kernels/arm/cast_types.hpp
  mllm/backends/cpu/ops/CastTypeOp.cpp
  mllm/backends/cpu/ops/CastTypeOp.hpp
  mllm/backends/cpu/ops/CloneOp.cpp
  mllm/backends/cpu/ops/CloneOp.hpp
  mllm/backends/cpu/ops/ConcatOp.cpp
  mllm/backends/cpu/ops/ConcatOp.hpp
  mllm/backends/cpu/ops/ContiguousOp.cpp
  mllm/backends/cpu/ops/ContiguousOp.hpp
  mllm/backends/cpu/ops/CopyOp.cpp
  mllm/backends/cpu/ops/CopyOp.hpp
  mllm/backends/cpu/ops/EmbeddingOp.cpp
  mllm/backends/cpu/ops/EmbeddingOp.hpp
  mllm/core/Tensor.cpp
  mllm/core/Tensor.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

build(mllm): disable C++26 extensions warning for clang < 20
  mllm/CMakeLists.txt
Owners: none

feat(fill): add support for int and uint types in FillOp
  mllm/backends/cpu/kernels/arm/elementwise.hpp
  mllm/backends/cpu/kernels/arm/fill.hpp
  mllm/backends/cpu/ops/FillOp.cpp
  mllm/core/aops/FillOp.cpp
  mllm/mllm.cpp
  mllm/mllm.hpp
  mllm/mllm.inl
  tests/CMakeLists.txt
  tests/cpu/CMakeLists.txt
  tests/cpu/ElementwiseKernelTest.hpp
  tests/cpu/KernelTest.cpp
  tests/cpu/KernelTestHelper.hpp
Owners: @yirongjie, @chenghuaWang, @oreomaker

docs(mllm): add auto_tune README file
  mllm/auto_tune/README.md
Owners: none

feat(core): add auto tune component and extend elementwise operations
  benchmarks/CMakeLists.txt
  benchmarks/cpu/CMakeLists.txt
  mllm/CMakeLists.txt
  mllm/auto_tune/README.md
  mllm/auto_tune/TuneSpace.cpp
  mllm/auto_tune/TuneSpace.hpp
  tests/cpu/ElementwiseKernelTest.hpp
  tests/cpu/KernelTest.cpp
Owners: none

CODEOWNERS:

# Contributors can indicate their level of familiarity with a specific functional module in this document to demonstrate whether they are capable of reviewing the code related to these modules.

# Core

/core/Storage @chenghuaWang
/core/Tensor* @chenghuaWang @oreomaker @yirongjie
/core/DataTypes @yirongjie @chenghuaWang
/core/DeviceTypes @chenghuaWang

# Install and ENV

/cmake/ @chenghuaWang
/.devcontainer/ @chenghuaWang
/docker/ @chenghuaWang

# Documents & Website Related

/docs/ @chenghuaWang @oreomaker @yirongjie @liang1232018 @xumengwei

# Backends

/mllm/backends/cpu/ @yirongjie @chenghuaWang @oreomaker
/mllm/backends/arm/ @chenghuaWang @yirongjie
/mllm/backends/qnn/ @oreomaker @liang1232018 @chenghuaWang

# Compiler

/mllm/compile/ @chenghuaWang
